.desktop {
  width: 86.5%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.desktop .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.logo p {
  font-size: 16px;
  font-weight: 600;
}

/* .logo img {
  width: 40px;
  height: 40px;
} */

.desktop .links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

.links li {
  font-size: 14px;
  font-weight: 500;
}

.btn {
  border: none;
  background-color: #255fe5;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
  border-radius: 8px;
}
