.intelligence {
  position: relative;
  background-image: url("../assets/images/praying.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.intelligence::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.intelligence>* {
  position: relative;
  z-index: 1;
}